<div style="background-color: #eee">
  <h1 style="font-weight: bold; padding: 12px 48px; color: #015e94;">Kielce Airport</h1>
  <div style="padding: 12px 48px; background-color: rgba(112, 154, 189, 0.1); color: #015e94;">
    <h2 style="font-weight: lighter;">Bilet</h2>
  </div>
  <div style="padding: 12px 48px; background-color: rgba(112, 154, 189, 0.25)">
    <p style="font-size: 14px; color: rgba(34, 40, 49, 0.7)">
      Dziękujemy za zakup biletów w serwisie<b>Kielce Airport</b>.
    </p>
  </div>
  <div style="padding: 8px 48px;">
    <p align="center" style="font-size: 12px; color: rgba(34, 40, 49, 0.5)">Kielce Airport / Aleja Tysiąclecia 7 /
      contact@kielceairport.pl / +48 333 444 555</p>
  </div>
</div>