<script>
    function startTime() {
        var today = new Date();
        var h = today.getHours();
        var m = today.getMinutes();
        var s = today.getSeconds();
        m = checkTime(m);
        s = checkTime(s);
        document.getElementById('clock').innerHTML =
            "<i class=\"fa fa-margin fa-clock-o\" aria-hidden=\"true\"></i>" + h + ":" + m + ":" + s;
        var t = setTimeout(startTime, 500);
    }

    function checkTime(i) {
        if (i < 10) {
            i = "0" + i
        }
        ;  // add zero in front of numbers < 10
        return i;
    }
</script>
<body onload="startTime()">
<!-- cover-->
<div class="container-fluid container-cover row">
  <!-- flights -->
  <div class="container container-cover-flights">
    <div class="col-lg-3 col-md-4 col-sm-12 float-left container-weather">
      <h2 class="font-weight-light">Pogoda</h2>
      <p class="font-weight-light">
        <img src=<%= "http://openweathermap.org/img/w/" + @weather['weather'].first['icon'] + ".png" %>>
        <%= @weather['weather'].first['description'].capitalize + " " + @weather['main']['temp'].to_s %>&#176C
      </p>
      <p class="font-weight-light" id="clock"></p>
    </div>
    <div class="col-lg-7 col-md-7 col-sm-12 float-right container-flights">
      <ul class="nav nav-tabs nav-flights" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" href="#flightsArrivals" role="tab" data-toggle="tab">Przyloty</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#flightsDepartures" role="tab" data-toggle="tab">Odloty</a>
        </li>
      </ul>
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade active show" id="flightsArrivals">
          <div class="container-fluid">
            <table class="table table-flights">
              <thead class="thead-primary">
              <tr>
                <th scope="col">Godzina</th>
                <th scope="col">Kierunek</th>
                <th scope="col">Lot</th>
                <th scope="col">Status</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <th scope="row">10:00</th>
                <td>Brisbain</td>
                <td>KIE 105</td>
                <td>Rozbity</td>
              </tr>
              <tr>
                <th scope="row">10:00</th>
                <td>Brisbain</td>
                <td>KIE 105</td>
                <td>Rozbity</td>
              </tr>
              <tr>
                <th scope="row">10:00</th>
                <td>Brisbain</td>
                <td>KIE 105</td>
                <td>Rozbity</td>
              </tr>
              <tr>
                <th scope="row">10:00</th>
                <td>Brisbain</td>
                <td>KIE 105</td>
                <td>Rozbity</td>
              </tr>
              <tr>
                <th scope="row">10:00</th>
                <td>Brisbain</td>
                <td>KIE 105</td>
                <td>Rozbity</td>
              </tr>
              </tbody>
            </table>
            <div class="container-fluid container-flights-more">
              <a class="more-flights" href="#">Zobacz więcej przylotów</a>
            </div>
          </div>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="flightsDepartures">
          <div class="container">
            <table class="table table-flights">
              <thead class="thead-primary">
              <tr>
                <th scope="col">Godzina</th>
                <th scope="col">Kierunek</th>
                <th scope="col">Lot</th>
                <th scope="col">Status</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <th scope="row">10:00</th>
                <td>Brisbain</td>
                <td>KIE 105</td>
                <td>Rozbity</td>
              </tr>
              <tr>
                <th scope="row">10:00</th>
                <td>Brisbain</td>
                <td>KIE 105</td>
                <td>Rozbity</td>
              </tr>
              <tr>
                <th scope="row">10:00</th>
                <td>Brisbain</td>
                <td>KIE 105</td>
                <td>Rozbity</td>
              </tr>
              <tr>
                <th scope="row">10:00</th>
                <td>Brisbain</td>
                <td>KIE 105</td>
                <td>Rozbity</td>
              </tr>
              <tr>
                <th scope="row">10:00</th>
                <td>Brisbain</td>
                <td>KIE 105</td>
                <td>Rozbity</td>
              </tr>
              </tbody>
            </table>
            <div class="container-fluid container-flights-more">
              <a class="more-flights" href="#">Zobacz więcej odlotów</a>
            </div>
          </div>
        </div>
      </div>
      </nav>
    </div>
  </div>
</div>

<!-- content -->
<div class="container content">
  <div class="content-title">
    <h2 class="font-weight-light content-title">Aktualności</h2>
  </div>
  <div class="content-content">
  </div>
</div>

<div class="container content">
  <div class="content-title">
    <h2 class="font-weight-light content-title">Dupa</h2>
  </div>
  <div class="content-content">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla lectus ante, tincidunt ac risus eget, mollis
      pharetra
      ipsum. Quisque eleifend scelerisque augue vitae porta. Phasellus et justo ipsum. Fusce eget augue id urna
      tempor placerat. Praesent ullamcorper at enim in molestie. In finibus nisl ut orci mattis euismod. Duis dignissim
      efficitur orci volutpat lacinia. Cras pharetra rutrum massa a dignissim. Suspendisse pharetra, libero vel
      sollicitudin convallis, velit eros mattis sem, ac luctus purus urna et ex. Duis lacinia vitae metus et porta.
      Nam id hendrerit arcu, sit amet cursus tortor. Praesent dignissim ipsum non leo consectetur, quis porta eros
      porta. Praesent hendrerit consectetur pulvinar.</p>
  </div>
</div>
