<!-- cover-->
<div class="container-fluid container-cover-title row">
  <div class="container cover-content">
    <h2 class="font-weight-light cover-title">Potwierdzenie rejestracji</h2>
  </div>
</div>

<!-- content -->
<div class="container content">
  <div class="content-content">
    <div class="container-register">
      <h3 class="section-title font-weight-light">Konto zostało utworzone poprawnie</h3>
      <div class="col">
        <p class="description">Na Twój adres e-mail <b><%= @email %></b> został wysłany link aktywacyjny.
          Przed rozpoczęciem korzystania z serwisu upewnij się, że Twoje konto zostało aktywowane. Na koncie
          nieaktywowanym nie można wykonywać żadnych operacji.</p>
      </div>
    </div>
  </div>
</div>