<!-- cover-->
<div class="container-fluid container-cover-title row">
  <div class="container cover-content">
    <h2 class="font-weight-light cover-title"><%= t :registration_confirmation %></h2>
  </div>
</div>

<!-- content -->
<div class="container content">
  <div class="content-content">
    <div class="container-register">
      <h3 class="section-title font-weight-light"><%= t :account_created_successful %></h3>
      <div class="col">
        <p class="description"><%= t(:account_created_description_html, email: @email) %></p>
      </div>
    </div>
  </div>
</div>