<!-- cover-->
<div class="container-fluid container-cover-title row">
  <div class="container cover-content">
    <h2 class="font-weight-light cover-title">Wyszukiwarka</h2>
  </div>
</div>

<!-- content -->
<div class="container content">
  <div class="content-content">
    <div class="container">
      <form class="form">
        <p class="description">Podaj nazwę lotniska, nazwę przewoźnika lub oznaczenie lotu.</p>
        <div class="row">
          <div class="col-xl-10 col-lg-10 col-md-12 col-sm-12">
            <input class="form-control form-search" type="search" placeholder="Wpisz frazę..." aria-label="Search">
          </div>
          <div class="col-xl-2 col-lg-2 col-md-12 col-sm-12">
            <button class="btn btn-primary btn-search" type="submit">
              <i class="fa fa-margin fa-search" aria-hidden="true"></i> Wyszukaj
            </button>
          </div>
        </div>
      </form>
    </div>

    <div class="container" style="margin-bottom: 12px">
      <div class="table-responsive">
        <table class="table table-hover" style="margin-top: 16px">
          <thead class="thead-primary">
          <tr>
            <th scope="col">Lot</th>
            <th scope="col">Przewoźnik</th>
            <th scope="col">Data</th>
            <th scope="col">Godzina</th>
            <th scope="col">Kierunek</th>
            <th scope="col">Status</th>
            <th scope="col">Typ</th>
            <th scope="col">Akcja</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td class="table-element">LOT 997</td>
            <td class="table-element">LuftWaffle</td>
            <td class="table-element">02.05.2018</td>
            <td class="table-element">10:00</td>
            <td class="table-element">Radom</td>
            <td class="table-element">Zestrzelony</td>
            <td class="table-element">Przylot</td>
            <td class="table-element"><a class="btn btn-primary" role="button" href="lot.html">Zobacz
              lot</a></td>
          </tr>
          <tr>
            <td class="table-element">LOT 997</td>
            <td class="table-element">LuftWaffle</td>
            <td class="table-element">02.05.2018</td>
            <td class="table-element">10:00</td>
            <td class="table-element">Radom</td>
            <td class="table-element">Zestrzelony</td>
            <td class="table-element">Przylot</td>
            <td class="table-element"><a class="btn btn-primary" role="button" href="lot.html">Zobacz
              lot</a></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="container">
      <nav aria-label="Flights navigation">
        <ul class="pagination justify-content-center">
          <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1">Poprzednia</a>
          </li>
          <li class="page-item active">
            <a class="page-link" href="#">1</a>
          </li>
          <li class="page-item">
            <a class="page-link" href="#">2</a>
          </li>
          <li class="page-item">
            <a class="page-link" href="#">3</a>
          </li>
          <li class="page-item">
            <a class="page-link" href="#">Następna</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
