/*** General ***/
/* Main selectors */
body {
    background: #eee url("images/bg.jpg") repeat;
}

::selection {
    background: #015e94;
    color: #fff;
}

::-moz-selection {
    background: #015e94;
    color: #fff;
}

h2.section-title {
    margin-bottom: 12px;
    padding-left: 12px;
    border-left: 6px solid #015e94; 
}

h3.section-title {
    margin-bottom: 12px;
    padding-left: 12px;
    border-left: 6px solid #709abd;
}

p.description {
    font-size: 14px;
    color: rgba(34, 40, 49, 0.7)
}

/* Icon */
.fa-margin {
    margin-right: 8px;
}

/* Bootstrap selectors */
.container {
    max-width: 1248px;
}

.btn-primary {
    background: #015e94;
    border-color: #015e94;
}

.btn-primary:hover {
    background: #709abd;
    border-color: #709abd;
}

.form-control:focus {
    box-shadow: 0 0 5px #015e94;
}

/* Header */
.container-header {
    background-color: #fff;
}

/* Navbar */
.navbar-toggler {
    margin-bottom: 12px;
}

.navbar {
    padding: 20px;
}

.navbar-brand {
    opacity: 1.0;
    transition: opacity 0.2s ease-in-out;
    color: #015e94;
}

.navbar-brand:hover {
    opacity: 0.5;
}

.nav-main:after {
    content: '';
    display: block;
    margin: auto;
    height: 2px;
    width: 0%;
    background: #015e94;
    transition: width .5s ease, background-color .5s ease;
}

.nav-main:hover:after {
    width: 25%;
    background: #222831;
}

@media only screen and (max-width: 991px) {
    .nav-main:hover:after {
        width: 0%;
    }
}

.nav-main > a {
    color: #015e94;
    font-weight: bold;
    text-decoration: none;
    transition: color 0.2s ease-in-out;
}

.nav-main:hover > a {
    color: #222831;
}

@media only screen and (max-width: 991px) {
    .nav-main > a {
        padding: 4px;
        border-radius: 4px;
        background-color: #015e94;
        color: #fff;
    }

    .nav-main:hover > a {
        color: #709abd;
    }
}

ul.nav-controls {
    margin-top: auto;
    margin-bottom: auto;
    list-style: none;
    font-weight: bold;
    float: right;
}

li.nav-control  {
    color: #015e94;
    margin-left: 12px;
    display: inline;
}

@media only screen and (max-width: 991px) {
    ul.nav-controls {
        padding: 0px;
        float: left;
    }

    li.nav-control {
        margin-left: 0px;
        margin-right: 4px;
        font-size: 12px;
    }

    li.nav-control > a {
        background-color: #709abd;
        color: #fff;
        padding: 4px;
        border-radius: 4px;
    }
}

li.nav-control-language {
    font-size: 12px;
    color: #709abd;
    margin-left: 6px;
}

@media only screen and (max-width: 991px) {
    li.nav-control-language > a {
        font-size: 12px;
        margin-left: 0px;
        background-color: #709abd;
        color: #fff;
        padding: 2px;
        border-radius: 4px;
    }
}

.nav-control > a {
    text-decoration: none;
    transition: color 0.2s ease-in-out;
}

.nav-control > a:hover {
    color: #222831;
}

ul.nav-language {
    font-size: 8px;
    margin-top: auto;
    margin-bottom: auto;
    list-style: none;
    font-weight: bold;
    float: right;
}

li.nav-language {
    color: #709abd;
    display: inline;
}

.nav-language > a {
    text-decoration: none;
    transition: color 0.2s ease-in-out;
}

.nav-language:hover > a {
    color: #222831;
}

/* Airport info */
.container-airport-info-bg {
    background: #015e94;
    padding: 0px;
}

.container-airport-info {
    background-color: #015e94;
    color: #fff;
    font-size: 14px;
}

ul.airport-info {
    padding: 15px;
    margin: auto;
    list-style: none;
}

li.airport-info {
    display: inline;
    margin-right: 24px;
}

@media only screen and (max-width: 991px) {
    li.airport-info {
        display: block;
    }
}

/* Cover container */
.container-cover-title {
    margin: auto;
    padding: 0px;
    background-color: #709abd;
    color: #fff;
    height: 96px;
}

.cover-content {
    margin: auto;
}

/* Main cover */
.container-main-cover {
    background: url("images/covermain.jpeg") no-repeat center;
    margin: auto;
    padding: 0px;
}

ul.cover-social {
    float: right;
    padding: 10px;
    margin: auto;
    list-style: none;
}

li.cover-social {
    margin-left: 4px;
    display: inline;    
}

li.cover-social > a {
    color: #fff;
    text-decoration: none;
    transition: color 0.2s ease-in-out;
}

li.cover-social:hover > a {
    color: #709abd;
}

.container-cover-flights {
    margin-top: 24px;
    margin-bottom: 24px;
    padding: 0px;
}

.container-weather {
    background-color: #015e94;
    color: #fff;
	text-transform: capitalize;
}

.container-flights {
    padding: 0px;
    background-color: #fff;
    color: #015e94;
}

.nav-flights {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;
}

.table-flights {
    margin-top: 12px;
}

.thead-primary {
    background-color: #015e94;
    color: #fff;
}

.container-flights-more {
    background-color: #015e94;
    color: #fff;
    padding: 8px;
    margin-bottom: 12px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
}

a.more-flights {
    text-decoration: none; 
    padding-left: 4px;
    transition: padding 0.1s ease-in-out;
}

a.more-flights:hover {
    padding-left: 12px;
    color: #fff;
}

/* Content */
.content {
    background-color: #fff;
    padding: 0px;
}

.content-title {
    background-color: #015e94;
    color: #fff;
    padding: 2px 4px;
}

h2.content-title {
    margin-left: 12px;
}

.content-content {
    padding: 12px;
}

/* Footer */
.container-footer {
    background-color: #015e94;
    color: #eee;
    text-align: center;
    margin: auto;
    padding: auto;
}

.footer-title {
    text-transform: uppercase;
    font-weight: bold;
    text-align: left;
    margin-left: 12px;
    padding-bottom: 12px;
    border-bottom: 1px solid rgba(112, 154, 189, 0.25)
}

ul.footer-list {
    font-weight: bold;
    font-size: 12px;
    text-align: left;
    list-style: none;
}

li.footer-list-item > a {
    text-decoration: none;
    transition: color 0.2s ease-in-out;
}

li.footer-list-item > a:hover {
    color: #709abd;
}

.footer-description {
    font-size: 12px;
    margin-left: 36px;
    text-align: left;
}

.footer-text {
    color: #709abd;
    padding: 10px;
    font-size: 12px;
}

/*** Main page ***/


/*** Subpages ***/
/* Login */
.container-login {
    padding: 2px 64px;
}

.container-login-left {
    border-right: 1px solid rgba(112, 154, 189, 0.5);
}

@media only screen and (max-width: 991px) {
    .container-login {
        padding: 12px 12px;
    }

    .container-login-left {
        border: none;
    }
}

ul.register-features {
    font-size: 12px;
    color: rgba(34, 40, 49, 0.7)
}

a.register-features {
    text-decoration: none;
    color: #015e94;
    transition: color 0.2s ease-in-out;
    font-size: 12px;
}

a.register-features:hover {
    color: #222831;
}

/* Register */
.container-register {
    padding: 2px 64px;
}

.register-description {
    margin-top: 5px;
    padding: auto;
    float: right;
}

@media only screen and (max-width: 991px) {
    .register-description {
        float: none;
    }
}

p.password-confirmation {
    margin-top: 6px;
    font-weight: bold;
    color: #015e94;
}

/* Search */
.btn-search {
    width: 100%;
}

@media only screen and (max-width: 991px) {
    .btn-search {
        margin-top: 12px;
    }
}

.page-link {
    color: #015e94;
    transition: color 0.1s ease-in-out;
}

td.flight-element {
    min-width: 100px;
}

a.table-link {
    color: #015e94;
    font-weight: bold;
    text-decoration: none;
    transition: color 0.2s ease-in-out;
}

a.table-link:hover {
    color: #709abd;
}

@media only screen and (max-width: 991px) {
    td.flight-element {
        font-size: 12px;
    }

    a.flight-element {
        background-color: #015e94;
        color: #fff;
        padding: 2px;
        border-radius: 4px;
    }
}

.pagination > li.active > a, .pagination > li.active > span {
    color: #fff !Important; 
    background: #015e94 !Important;
    border-color: #015e94 !Important;
}

/* User profile */
.container-profile-menu {
    padding: 6px 24px;
    border-right: 1px solid rgba(112, 154, 189, 0.5);
}

@media only screen and (max-width: 991px) {
    .container-profile-menu {
        padding: 12px 12px;
        border-right: none;
        border-bottom: 1px solid rgba(112, 154, 189, 0.5);
        margin-bottom: 12px;
    }
}

.profile-row {
    padding: 2px 8px;
    margin: 4px 12px;
}

.nav-pills .nav-link.active {
    background-color: #015e94;
}

p.profile-description {
    float: right;
    margin-top: 7px;
}

@media only screen and (max-width: 991px) {
    p.profile-description {
        float: left;
        margin-top: 7px;
    }
}

td.table-element {
    min-width: 120px;
}

/* News */
.container-news {
    padding: 12px;
}

.news-info {
    border-bottom: 1px solid rgba(112, 154, 189, 0.25);
    padding-bottom: 12px;
    margin-bottom: 24px;
}

img.news-image {
    width: 100%;
}

.news-title {
    color: #015e94;
}

.news-date {
    color: rgba(34, 40, 49, 0.7);
    font-size: 14px;
    margin-top: 22px
}

@media only screen and (max-width: 991px) {
    .news-date {
        margin-top: 0;
    }
}

.news-content {
    font-size: 14px;
    color: rgba(34, 40, 49, 0.7);
    text-align: justify;
}

@media only screen and (max-width: 991px) {
    .news-content {
        margin-top: 12px;
    }
}

/* Flight */
.container-flight {
    border-bottom: 1px solid rgba(112, 154, 189, 0.25);
}

.flight-attributes {
    color: rgba(34, 40, 49, 0.7);
}