<!DOCTYPE html>
<html>
<head>
  <title>Kielce Airport</title>
  <meta charset="UTF-8">

  <%= wicked_pdf_stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': true %>
  <%= wicked_pdf_stylesheet_link_tag 'w3' %>
  <%= wicked_pdf_javascript_include_tag 'application', 'data-turbolinks-track': true %>
</head>

<body class="ticket-body" style="transform: scale(0.5)">
<%= yield %>
</body>
</html>
