<!DOCTYPE html>
<html>
<head>
  <title>Kielce Airport</title>
  <meta charset="UTF-8">

  <%= wicked_pdf_stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': true %>
  <%= wicked_pdf_stylesheet_link_tag 'w3' %>
</head>

<body class="ticket-body">
<div style="background-color: white; padding: 12px 36px;">
  <%= yield %>
</div>
</body>
</html>
